// Transitions
$default-transition-timing: 150ms;

// Colors
$font-color: #222;
$primary-blue: #0068FF;
$primary-blue--hover: #0A5FDA;
$primary-white: #FFF;
$primary-white--hover: rgba(255, 255, 255, .8);
