/* Transitions */
$default-transition-timing: 150ms;
/* Border Radius */
$default-border-radius: 10px;
/* Colors */
  /* Font Colors */
$primary-font-color: #1C1C1E;
$secondary-font-color: #EFF4FF;
  /* Blue */
$dark-blue: #003FCB;
$dark-blue--hover: darken(#003FCB, 5);
$primary-blue: #0068FF;
$primary-blue--hover: #0A5FDA;
  /* White */
$primary-white: #FFF;
  /* Gray */
$light-gray: #F2F2F5;
$dark-gray: #777;
  /* Disabled input */
$disabled-color: #DEDEDE;
  /* Error */
// $color-error: #ff5a74;
$color-error: #6d676e;
  /* Box shadow tones */
$bs-1: rgba(0, 0, 0, 0.2);
$bs-2: rgba(0, 0, 0, 0.14);
$bs-3: rgba(0, 0, 0, 0.12);
  /* Background modal */
$cover: rgba(0, 0, 0, .3)