/* Transitions */
$default-transition-timing: 150ms;
/* Colors */
  /* Font Colors */
$primary-font-color: #1C1C1E;
$secondary-font-color: #EFF4FF;
  /* Blue */
$dark-blue: #003FCB;
$dark-blue--hover: darken(#003FCB, 5);
$primary-blue: #0068FF;
$primary-blue--hover: #0A5FDA;
$lighter-blue: #EFF4FF;
$lighter-blue--hover: rgba(239, 244, 255, .9);
  /* White */
$primary-white: #FFF;
$primary-white--hover: rgba(255, 255, 255, .9);
  /* Yellow */
$power-color: #FCEA0B;
  /* Gray */
$light-gray: #F2F2F5;
  /* Disabled input */
$disabled-color: #DEDEDE;
  /* Error */
$color-error: #ff5a74;
  /* Box shadow tones */
$bs-1: rgba(0, 0, 0, 0.2);
$bs-2: rgba(0, 0, 0, 0.14);
$bs-3: rgba(0, 0, 0, 0.12);