* { box-sizing: border-box; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit }
ul, ol { list-style-type: none; }

@font-face {
  font-family: "JanoSans";
  src: url("../fonts/JanoSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body, #app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: "JanoSans", sans-serif;
  color: $primary-font-color;
  scroll-behavior: smooth;
}

/* Input Fields */
.v__field {
  padding: 0 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  &.disabled {
    background: #EDEDED;
  }
  &.invalid {
    border: 1px solid $color-error;
    animation: shake 1000ms cubic-bezier(.36,.07,.19,.97) both;
  }
  background-color: $light-gray;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
  label {
    color: $primary-font-color;
    position: absolute;
    transform: translate(0, 12.5px) scale(1);
    transform-origin: top left;
    transition:  all $default-transition-timing ease-in-out;
  }
  input {
    color: $primary-font-color;
    border: none;
    outline: 0;
    padding: 1rem 0 10px;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    &::placeholder {
      opacity: 0;
      visibility: hidden;
      transition: all $default-transition-timing ease-in-out;
      color: $primary-font-color;
    }
  }
  &.active {
    label {
      transform: translate(0, -1px) scale(.75);
      opacity: .9;
    }
    input::placeholder {
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.message--invalid {
  position: absolute;
  left: 5px;
  bottom: -20px;
  font-size: .9em
}

/* Select */
.select {
  width: 100%;
  background-color: $primary-white;
  border-radius: 2.5px;
  border: unset;
  outline: unset;
  padding: 15px;
  &:focus, &:active {
    outline: unset;
  }
}

/* Button */
.btn {
  border: unset;
  cursor: pointer;
  min-width: 120px;
  padding: 12.5px 15px;
  border-radius: 2.5px;
  @include flex-center;
  transition: all $default-transition-timing ease-in-out;
}

/* Icon Circle */
.icon__circle {
  $circle-dimension: 50px;
  @include flex-center;
  min-width: $circle-dimension;
  width: $circle-dimension;
  min-height: $circle-dimension;
  height: $circle-dimension;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  svg {
    font-size: 1.4em
  }
}

/* Colors for button styles */
.default-blue {
  background-color: $primary-blue;
  &:hover {
    background-color: $primary-blue--hover;
  }
  color: $secondary-font-color;
}
.blue {
  background-color: $dark-blue;
  &:hover {
    background-color: $dark-blue--hover;
  }
  color: $secondary-font-color;
}
.white {
  background-color: $primary-white;
  &:hover {
    background-color: $primary-white--hover
  }
  svg {
    color: $dark-blue;
  }
}
.power-color {
  background-color: $power-color;
  &:hover {
    background-color: darken($power-color, 5);
  }
  color: $primary-font-color;
}

/* Box shadow */
.box-shadow {
  -webkit-box-shadow: 0px 3px 1px -2px $bs-1, 0px 2px 2px 0px $bs-2, 0px 1px 5px 0px $bs-3;
  -moz-box-shadow: 0px 3px 1px -2px $bs-1, 0px 2px 2px 0px $bs-2, 0px 1px 5px 0px $bs-3;
  box-shadow: 0px 3px 1px -2px $bs-1, 0px 2px 2px 0px $bs-2, 0px 1px 5px 0px $bs-3;
}
.box-shadow-2 {
  -webkit-box-shadow: 0 3px 3px -2px $bs-1,0 3px 4px 0 $bs-2,0 1px 8px 0 $bs-3;
  -moz-box-shadow: 0 3px 3px -2px $bs-1,0 3px 4px 0 $bs-2,0 1px 8px 0 $bs-3;
  box-shadow: 0 3px 3px -2px $bs-1,0 3px 4px 0 $bs-2,0 1px 8px 0 $bs-3;
}
.box-shadow-3 {
  -webkit-box-shadow: 0 4px 5px -2px $bs-1,0 7px 10px 1px $bs-2,0 2px 16px 1px $bs-3;
  -moz-box-shadow: 0 4px 5px -2px $bs-1,0 7px 10px 1px $bs-2,0 2px 16px 1px $bs-3;
  box-shadow: 0 4px 5px -2px $bs-1,0 7px 10px 1px $bs-2,0 2px 16px 1px $bs-3;
}

/* Text Styles */
.text--bold {
  font-weight: bold;
}
.text--default-blue {
  color: $primary-blue
}
.text--dark-blue {
  color: $dark-blue;
}
.text--center {
  text-align: center;
}
.cursor--click {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.text--error {
  color: $color-error;
}

/* Margins */
  /* Top */
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-35 {
    margin-top: 35px;
  }
  .mt-45 {
    margin-top: 45px;
  }

  /* Bottom */
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }

  /* Right */
  .mr-10 {
    margin-right: 10px;
  }
  .mr-25 {
    margin-right: 25px;
  }

  /* Left */
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }

  /* X Axis */
  .mx-10 {
    margin: 0 10px;
  }

  /* Y Axis */
  .my-10 {
    margin: 10px 0;
  }
  .my-15 {
    margin: 15px 0;
  }
  .my-30 {
    margin: 30px 0;
  }
  .my-40 {
    margin: 40px 0;
  }

/* Width */
.w-100 {
  width: 100%
}

/* Loading class */
.is-loading {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* Header */
.step-back__header {
  @include flex-center;
  color: $dark-blue;
  position: relative;
  svg {
    position: absolute;
    left: 0;
  }
}

/* Contents Max-Width */
.max-width {
  max-width: 550px;
}

@media screen and (min-width: 550px) {
  #app {
    @include flex-center("horizontal");
    background-color: $primary-white;
    height: auto;
  }
  .home__footer {
    position: sticky;
  }
}
