* { box-sizing: border-box; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit }
ul, ol { list-style-type: none; }

@font-face {
  font-family: "JanoSans";
  src: url("../fonts/JanoSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

body {
  font-family: "JanoSans", sans-serif;
  color: $primary-font-color;
}

/* Input Fields */
.v__field {
  padding: 0 8px;
  border: 1px solid $primary-white;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    position: absolute;
    transform: translate(0, 12.5px) scale(1);
    transform-origin: top left;
    transition:  all $default-transition-timing ease-in-out;
  }
  input {
    border: none;
    outline: 0;
    padding: 1rem 0 10px;
    width: 100%;
    background-color: transparent;
    color: inherit;
    font-size: 1rem;
    &::placeholder {
      opacity: 0;
      visibility: hidden;
      transition: all $default-transition-timing ease-in-out;
      color: inherit
    }
  }
  &.active {
    label {
      transform: translate(0, -1px) scale(.75);
      opacity: .9;
    }
    input::placeholder {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* Button */
.btn {
  border: unset;
  min-width: 120px;
  padding: 10px 15px;
  border-radius: 2.5px;
  @include flex-center;
  transition: all $default-transition-timing ease-in-out;
  &.blue {
    background-color: $dark-blue;
    &:hover {
      background-color: $dark-blue--hover;
    }
    color: $secondary-font-color;
  }
  &.white {
    background-color: $primary-white;
    &:hover {
      background-color: $primary-white--hover
    }
  }
}
