.home {
  width: 100%;
  min-height: 100%;
  background-color: $primary-white;
  position: relative;
}

.home__header {
  @include flex-center("vertical");
  justify-content: space-between;
  font-size: 1rem;
  padding: 30px 20px;
  .home__title {
    @include flex-center;
  }
  svg {
    font-size: 1.5em;
    cursor: pointer;
    opacity: .9;
    transition: opacity $default-transition-timing;
    &:hover {
      opacity: 1;
    }
  }
}

.home__subtitle {
  margin: 15px 0 15px 30px;
}

.home__footer {
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  width: 100%;
  background-color: $light-gray;
  border-top-left-radius: $default-border-radius;
  border-top-right-radius: $default-border-radius;
  border-top: 1px solid $dark-gray;
  ul {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $dark-gray;
    li {
      cursor: pointer;
      @include flex-center;
      flex-direction: column;
      font-size: .9em;
      svg {
        margin-bottom: 5px;
        font-size: 1.5em;
      }
      &.active {
        color: $primary-blue;
      }
    }
  }
}