.loading {
  width: 100%;
  height: 100%;
  background-color: $primary-white;
  @include flex-center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 1rem;
}

.loading__content {
  @include flex-center;
  h1 {
    font-size: 2em;
    font-weight: normal;
    margin-right: 15px;
  }
  img {
    height: 50px;
  }
}

.loader {
  $border: 5px;
  $dimension: 30px;
  &.small {
    $dimension: 18px;
    $border: 3px;
  }
  border: $border solid $dark-blue; 
  border-top: $border solid $light-gray;
  border-radius: 50%;
  animation: spin 2500ms linear infinite;
  width: $dimension;
  height: $dimension;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}