.login {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  /* Incorrect background */
  background-image: linear-gradient($dark-blue 65%, $primary-white 35%);
}

.login__title {
  @include flex-center;
  margin: 40px 0;
  font-size: .9rem;
  h1 {
    color: $secondary-font-color;
    font-size: 1.1em;
    font-weight: normal;
  }
  img {
    width: 40px;
    margin-right: 10px;
  }
}

.login__form {
  width: 90%;
  @include flex-center;
  flex-direction: column;
  color: $secondary-font-color;
  margin-bottom: 40px;
  font-size: 1rem;
  fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: unset;
    .v__field:nth-child(1) {
      margin-bottom: 35px;
    }
  }
  button {
    width: 100%;
    margin-top: 45px;
    font-size: 1em;
  }
}

.login__password-reset {
  font-size: .9em;
  color: $secondary-font-color;
  &:hover, &:active {
    text-decoration: underline;
  }
}

.login__footer {
  width: 70%;
  flex: 1;
  @include flex-center("vertical");
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
  button {
    margin-top: 35px;
    width: 100%;
  }
}
