.login {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-size: 1rem;
  background-color: $primary-white;
}

.login__img {
  @include flex-center;
  width: 100%;
  max-height: 450px;
  img {
    width: 100%;
  }
}

.login__form {
  width: 90%;
  @include flex-center;
  flex-direction: column;
  background-color: $primary-white;
  color: $secondary-font-color;
  padding: 30px;
  font-size: 1rem;
  margin-top: -30px;
  fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: unset;
    legend {
      color: $primary-font-color;
      font-size: 1.2em;
    }
  }
  button {
    width: 100%;
    font-size: 1em;
  }
}

.login__password-reset {
  font-size: .9em;
  color: $primary-font-color;
  align-self: flex-start;
  &:hover, &:active {
    text-decoration: underline;
  }
}

.login__footer {
  @include flex-center("vertical");
  p {
    margin-right: 5px;
  }
  margin-bottom: 40px;
}
