.register-welcome {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../images/bg-orientation.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 0;
  font-size: 1rem
}

.register-welcome__title {
  padding: 20px;
  @include flex-center("horizontal");
  flex-direction: column;
  color: $primary-white;
  font-size: 1rem;
  h1 {
    font-size: 2em;
  }
  h2 {
    font-weight: normal;
  }
  img {
    height: 55px
  }
}

.register-welcome__list ul {
  font-size: .9em
}

.register-welcome__footer {
  @include flex-center;
  flex-direction: column;
  width: 100%;
}
