.register {
  $spacing: 20px;

  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $primary-white;
  padding: $spacing;
}

.register__step-count {
  @include flex-center("vertical");
  justify-content: space-between;
  color: $dark-blue;
}

.register__steps {
  flex: 1;
}

.register__footer {
  width: 100%;
  @include flex-center("vertical");
  justify-content: space-between;
  &.single-btn {
    justify-content: flex-end;
  }
}

.step__selection {
  @include flex-center("vertical");
}
