.step {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.step__form {
  font-size: 1rem;
  .v__field {
    margin: 10px 0;
  }
}

.code__validation {
  width: 100%;
  display: flex;
  font-size: 1rem;
  .code {
    width: 20%;
    max-width: 54px;
    background: transparent;
    text-align: center;
    border: unset;
    outline: unset;
    border-bottom: 2px solid $primary-font-color;
    font-size: 1.3em;
    &:focus, &:active {
      outline: unset;
    }
  }
}

.code__resend {
  font-size: .8em;
  color: $primary-blue;
}

.step__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    flex: 1;
  }
}

.related-fields {
  width: 100%;
  display: flex;
  .v__field {
    margin: unset;
    &:nth-child(1) {
      margin-right: 10px;
    }
    &:nth-child(2) {
      width: 100px;
    }
  }
}

.last__step {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.step__content {
  flex: 1;
  padding: 30px;
  h1 {
    font-size: 2em
  }
}
