.support {
  $spacing: 20px;

  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $primary-white;
  padding: $spacing;
  font-size: 1rem;
}

.support__title {
  font-size: 1.65em
}

.support__shortcuts {
  width: 100%;
  @include flex-center;
}