.terms {
  $spacing: 20px;

  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lighter-blue;
  padding: $spacing;
}

.terms__header {
  @include flex-center;
  color: $dark-blue;
  position: relative;
  svg {
    position: absolute;
    left: 0;
  }
}